[submodule "guess-who"]
	path = guess-who
	url = https://github.com/pkubiak/guess-who
	branch = master
[submodule "frozen-fruits"]
	path = frozen-fruits
	url = https://github.com/pkubiak/frozen-fruits
	branch = master
[submodule "gran-trak-2020"]
	path = gran-trak-2020
	url = https://github.com/pkubiak/gran-trak-2020.git
	branch = master
[submodule "monster-o-brick"]
	path = monster-o-brick
	url = https://github.com/pkubiak/monster-o-brick.git
	branch = master
[submodule "swim-nemo-swim"]
	path = swim-nemo-swim
	url = https://github.com/pkubiak/swim-nemo-swim.git
	branch = master
[submodule "spotify"]
	path = spotify
	url = https://github.com/pkubiak/spotify-view.git
	branch = master
[submodule "unicode-madness"]
	path = unicode-madness
	url = https://github.com/pkubiak/unicode-madness.git
	branch = master
[submodule "easter-dragon"]
	path = easter-dragon
	url = https://github.com/pkubiak/easter-dragon.git
	branch = master
[submodule "angry-integrals"]
	path = angry-integrals
	url = https://github.com/pkubiak/angry-integrals.git
[submodule "zyrafowaz"]
	path = zyrafowaz
	url = https://github.com/pkubiak/zyrafowaz
