body,
html {
  width: 100%;
  height: 100%;
}

.full {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* button,
input {
  font-size: 64px !important;
} */

img {
  max-width: 100%;
}

#board {
  display: grid;
  grid-template-rows: repeat(3, 33.3333%);
  grid-template-columns: repeat(8, 12.5%);
  padding: 0.25rem;
}

.opaque {
  opacity: 0.3;
}

#board button {
  margin: 0.25rem;
  background-position: 50% 38.2%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: background ease 0.2s;
}

#board button h4 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 6px;
  text-shadow: 0 0 6px #0009;
  font-size: 26px;;
  background: #0007;
  /* transition: transform ease 0.2s; */
  /* transform: translateY(0%); */
}

#board button button {
  position: absolute;
  right: 0;
  top: 0;
  /* font-size: 10pt !important; */
  font-weight: bold;
}

#board button:hover {
  background-size: 120%;
}

#board button:hover h4 {
  /* transform: translateY(100%); */
}

.centerize {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (orientation: vertical) {

}

@media (orientation: portrait) {
  #board {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(4, auto);
  }
}

body {
  /* background-color: orange; */
  /* font-size:30px; */
}

@media (max-width: 1199.98px) {
  body {
    /* background: yellow; */
    /* font-size: 24px; */
  }
  #board button h4 {
    font-size: 20px;
  }
}

@media (max-width: 991.98px) {
  body {
    /* background: blue; */
    /* font-size: 20px; */
  }
  #board button h4 {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  body {
    /* background: green; */
    /* font-size: 15px; */
  }
  #board button h4 {
    font-size: 10px;
  }
}

@media (max-width: 575.98px) {
  body {
    /* background: red; */
    /* font-size: 10px; */
  }
  #board button h4 {
    font-size: 9px;
  }
}
